html, body { height: 100%; }
#wrapper { min-height: 100%; }
#page-wrapper { height: 100%; }

.hidden, .hidden2, .data-table td .hidden2 { display: none; }
.padding0 { padding: 0; }
.margin0 { margin: 0; }
a { cursor: pointer; }
.uploadify-ff-fixer { position: relative; margin: -5px -10px; padding: 5px 10px; }
.logo { padding-left: 10px; }
table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting:after
{ float:none !important; padding-left: 5px; }
.float-left { float: left; }
.float-right { float: right; }
.ml-15 { margin-left: 15px; }
.data-table th input { font-weight: normal; width: 100%; padding: 3px 6px; }
.data-table th:first-of-type input[type=checkbox] { width: 16px; }
.data-table th select { font-weight: normal; width: 100%; padding: 4px 6px; }
input[type="search"]:valid { border-color: darkred; font-weight: bold; border-width: 2px;}
.dataTables_processing { padding: 15px; }
.ui-datepicker { z-index: 1001 !important; }
.chart { height: 350px; margin: 15px 0; }
.legendColorBox > div { margin-right: 3px; }
.chart-table { width: 100%; overflow: auto;}
.stat-table th, .stat-table tr td:not(:first-child){ text-align: center; }
.stat-table { margin-top: 15px; }
.stat-table th, .stat-table td { padding: 4px !important; }
.language-toggle { margin: 0 0 3px 10px; float: right; }
.btn-gray { background-color: lightgray; border-color: lightgray; }
.gray { color: lightgray; }
.original { margin-bottom: 5px; color: #777	; }
.data-table input[type="text"], .data-table select, .data-table textarea { width: 100% !important; }
th[data-lastth] * { display: none; }
.data-table textarea {
	min-height: 59px;
	min-width: 300px;
	max-width: 500px;
}
.paginator-selector { float: right; padding: 2px 2px 0 8px; }
.dataTables_paginate { float: right; }
.red { color: #d9534f; }
.green { color: #47a447; }
.grey { color: #999; }
.va { vertical-align: text-top; }
.bold { font-weight: bold; }
.missing_lang-wrapper { margin-left: 100px; font-weight: normal; }
#page-wrapper { min-height: 450px; padding-bottom: 20px; }
.dynamic {
	padding: 10px 0 0 50px;
	margin: 0 0 0 -50px;
}
.list-wrapper {
	padding: 10px 0 30px;
}
body {
	overflow-x: hidden;
}
.answer { min-height: 120px; margin-left: -30px; margin-right: -30px; border-top: 1px #eee solid; overflow: hidden; position: relative; }
.alert { padding: 10px; margin-bottom: 10px; }
textarea { resize: none; }
.tbl { display: table; width: 100%; border-spacing: 10px; position: relative; }
.tbl-cell { display: table-cell; position: relative; overflow: hidden; }
.on-answer { padding: 10px 10px 0; }
.send-wrapper { width: 124px; vertical-align: middle; }
.chat-page-header {
	margin: 40px -30px 0;
	padding: 0 30px 9px;
}
.header-user { padding-left: 15px; }

.answer_overlay {
	position: absolute;
	background-color: #eee;
	width: 100%;
	height: 120px;
	z-index: 1;
	text-align: center;
	padding: 36px;
}

.right { text-align: right; }
.answer_overlay h3 { margin-top: 11px; }
.li-header {
	padding-top: 30px;
}
.answer-select > option:first-child, .answer-select {
	color: #ccc;
}

.answer-select option {
	color: black;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
}

.fileinput-button input, .pseudo-hidden {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

.file-upload {
	position: relative;
}

.progress-wide {
	height: 33px;
	margin-bottom: 0;
	min-width: 20px;
}

.tbl-0 {
	border-spacing: 0;
}

.tbl-0 .tbl-cell {
	vertical-align: top;
}

.tbl-cell-minimum {
	width: 1px;
	white-space: nowrap;
	padding-right:10px
}

.answer-files li {
	list-style-type: circle;
	height: 20px;
	line-height: 1;
	clear: both;
}

.answer-files {
	clear: both;
	margin-left: 10px;
	margin-bottom: 0;
	max-height: 110px;
	overflow-y: auto;
}

.pointer {
	cursor: pointer;
}

.message-files {
	margin: 7px 0 0 -10px;
}

.margin-bottom-0 {
	margin-bottom: 0;
}

.th-editable, .small-cell { width: 1px; vertical-align: top; }

table.dataTable { width: 100% !important; }

a.disabled-link { color: #d3d3d3 !important; cursor: default; }
a.disabled-link:hover { background-color: white !important; }

.image-element { height: 160px; background: #f6f6f6 no-repeat center center; }
.image-remove, .file-remove, .file-save { position: absolute; top: 5px; right: 20px; width: 24px; height: 24px; font-size: 10px; padding: 0; z-index: 1 }
.file-save { right: 48px; }

body.dragging, body.dragging * {
	cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

.wrapper-content {
	position: relative;
	margin-bottom: -15px;
}

.wrapper-content li {
	list-style: none;
}

ol.sortable li {
	list-style: none;
}

.wrapper-content li.placeholder {
	position: relative;
	margin: 0 35px 35px 35px;
	padding: 0;
	border-bottom: 5px dashed #e5e5e5;
}
.wrapper-content li.placeholder:before {
	position: relative;
	content: "";
	width: 1px;
	height: 1px;
	left: 0;
	top: 0;
	border: 1px solid transparent;
}

.image-element-wrapper .form-group, .file-element-wrapper .form-group {
	margin: 0;
}

.sortable .selected {
	position: absolute;
	left: 25px;
	top: 5px;
	z-index: 1;
}

.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

.preloader {
	margin: 10px 0 20px 0;
}

.tr-drag {
	background-color: #fcf8e3;
}

.order-table th {
	background-color: #ededed;
}

.actions-td {
	white-space: nowrap;
	width: 1px;
	padding: 8px 5px 8px 3px !important;
}

.checkbox-td {
	width: 1px;
}

input[data-datetime] {
	min-width: 140px;
}
input[data-date] {
	min-width: 100px;
}

.dataTables_processing img {
	position: absolute;
	left: 50%;
	top: 60px;
	margin-left: -64px;
}

.dataTable td .form-group {
	width: 100%;
}

.dataTables_empty {
	padding-left: 42px !important;
}